.home-container {
  text-align: center;
  padding: 20px;
  background-color: #ebe9e9; 
}

.welcome-text {
  font-size: 36px;
  margin-bottom: 20px;
  color: #cd84f1; 
  text-transform: uppercase; 
  font-family: 'Arial', sans-serif; 
  letter-spacing: 2px; 
}


.link-container {
  margin: 20px 0; 
}

.link-button {
  display: flex;
  padding: 15px 30px;
  background-color: #778390; 
  color: #fff;
  text-decoration: none;
  font-size: 24px; 
  border-radius: 10px; 
  margin-right: 20px; 
}

.link-button:hover {
  background-color: #cd84f1;; 
}
